NYC ADF/NYC pipeline.txt
{
    "name": "pl_nyc_main",
    "properties": {
        "activities": [
            {
                "name": "Copy data from NYC GOV to ADLS",
                "type": "Copy",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "ParquetSource",
                        "storeSettings": {
                            "type": "HttpReadSettings",
                            "requestMethod": "GET"
                        },
                        "formatSettings": {
                            "type": "ParquetReadSettings"
                        }
                    },
                    "sink": {
                        "type": "ParquetSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "ParquetWriteSettings"
                        }
                    },
                    "enableStaging": false,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "ds_nyc_source_http_parquet",
                        "type": "DatasetReference",
                        "parameters": {
                            "file_date": {
                                "value": "@formatDateTime(pipeline().parameters.run_date, 'yyyy-MM')",
                                "type": "Expression"
                            }
                        }
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "ds_nyc_sink_adls_parquet",
                        "type": "DatasetReference",
                        "parameters": {
                            "file_date": {
                                "value": "@formatDateTime(pipeline().parameters.run_date, 'yyyy-MM')",
                                "type": "Expression"
                            }
                        }
                    }
                ]
            },
            {
                "name": "Delete data from nyc_yellow_trip_data for run_date",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "Copy data from NYC GOV to ADLS",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[delete_data_from_trip_data]",
                    "storedProcedureParameters": {
                        "file_date": {
                            "value": {
                                "value": "@replace(formatDateTime(pipeline().parameters.run_date, 'yyyy-MM'), '-', '')",
                                "type": "Expression"
                            }
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "ls_sql_db",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "nyc_yellow_trip_data_processed",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "Delete data from nyc_yellow_trip_data for run_date",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/Jobs/NYC/nyc_yellow_processed",
                    "baseParameters": {
                        "file_date": {
                            "value": "@formatDateTime(pipeline().parameters.run_date, 'yyyy-MM')",
                            "type": "Expression"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "ls_dev_databricks",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Lookup DIM files",
                "type": "Lookup",
                "dependsOn": [
                    {
                        "activity": "nyc_yellow_trip_data_processed",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "JsonSource",
                        "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": true,
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "JsonReadSettings"
                        }
                    },
                    "dataset": {
                        "referenceName": "ds_nyc_dim_lookup",
                        "type": "DatasetReference"
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "ForEach copy dim files from http",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Lookup DIM files",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Lookup DIM files').output.value",
                        "type": "Expression"
                    },
                    "isSequential": true,
                    "activities": [
                        {
                            "name": "Copy data1",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "DelimitedTextSource",
                                    "storeSettings": {
                                        "type": "HttpReadSettings",
                                        "requestMethod": "GET"
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextReadSettings"
                                    }
                                },
                                "sink": {
                                    "type": "DelimitedTextSink",
                                    "storeSettings": {
                                        "type": "AzureBlobFSWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextWriteSettings",
                                        "quoteAllText": true,
                                        "fileExtension": ".txt"
                                    }
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "ds_nyc_dim_github_csv",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "file_name": {
                                            "value": "@item().file_name",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "ds_nyc_dim_sink_csv",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "file_name": {
                                            "value": "@item().file_name",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ]
                        }
                    ]
                }
            },
            {
                "name": "nyc_dim_load_to_sql",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "ForEach copy dim files from http",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/Jobs/NYC/nyc_yellow_dim_load"
                },
                "linkedServiceName": {
                    "referenceName": "ls_dev_databricks",
                    "type": "LinkedServiceReference"
                }
            }
        ],
        "parameters": {
            "run_date": {
                "type": "string"
            }
        },
        "annotations": []
    }
}